<div ng-controller="GameController as gameController">
    <header>
        <div>
            <b>Poker Bots</b>
        </div>
        <div>
            {{gameController.currentPlayer.name}}
        </div>
    </header>
    <div ng-if="!gameController.game">
        <form class="form-signin" novalidate name="gameController.joinForm" ng-submit="gameController.submitJoin(gameController.joinForm)">
            <div style="max-width: 500px; margin: 0 auto;">
                <h2 class="form-signin-heading">Pick a name</h2>
                <input type="text" autofocus="" class="form-control" required name="Name" ng-model="gameController.Name" placeholder="Your Name" />
                <button class="btn" type="submit">Join Game</button>
            </div>
        </form>
    </div>
    <div ng-if="gameController.game">
        <div ng-if="!gameController.roleDecided">
            <div class="modal-backdrop"></div>
            <div class="role-decide-modal">
                <h2 class="form-signin-heading">Select Role</h2>
                <button class="btn" ng-click="gameController.submitPlaying(gameController.currentPlayer.name); gameController.roleDecided = true;">Player</button>
                <br />
                <button class="btn" ng-click="gameController.roleDecided = true;">Spectator</button>
            </div>
        </div>

        <div class="all-vote-area card-list">
            <div>
                <div class="card average clearfix">
                    <div class="previous-number"></div>
                    <div class="number">
                        <span ng-show="!gameController.state.is_showing">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <span ng-show="gameController.state.is_showing">{{gameController.average}}</span>
                    </div>

                    <div class="average-label">
                        Average
                    </div>
                </div>
            </div>
            <div ng-repeat="player in gameController.users track by player.name">
                <div class="card" ng-class="{ 
                    changed: (gameController.state.is_showing && player.vote != player.original_vote),
                    voted: (player.vote),
                    outlier: (player.outlier)
                    }">
                    <div class="previous-number">
                        <span ng-show="player.vote != player.original_vote">{{player.original_vote}}</span>
                    </div>
                    <div class="number" ng-attr-title="{{player.outlier ? 'High Risk Outlier' : ''}}">
                        <span ng-show="!gameController.state.is_showing">
                            <i class="fa" ng-class="{
                            'fa-clock-o waiting': !player.vote,
                            'fa-check  done': player.vote,
                            }">
                            </i>
                        </span>
                        <span ng-show="gameController.state.is_showing">{{player.vote || '?'}}</span>
                    </div>

                    <div class="avi">
                        <img src="http://robohash.travistx.me/{{player.name}}?size=75x75" />
                    </div>
                </div>
                <div class="admin-player-tools" ng-if="gameController.currentPlayer.is_admin">
                    <span ng-click="gameController.submitPlaying(player.name)" title="toggle playing"><i class="fa fa-arrow-down"></i></span>
                    <span ng-click="gameController.submitPromote(player.name)" title="promote">
                        <i class="fa" ng-class="{'fa-star': (player.is_admin), 'fa-star-o': (!player.is_admin)}"></i>
                    </span>
                </div>
                <div class="player-name" ng-class="{admin: (player.is_admin)}" ng-attr-title="{{player.is_admin ? 'admin' : ''}}">
                    {{player.name}}
                </div>
            </div>
        </div>

        <div class="spectators-row">
            <label>Spectators</label>
            <div ng-show="gameController.spectators.length === 0">None</div>
            <div class="card-list">
                <div ng-repeat="player in gameController.spectators">
                    <div class="card">
                        <div class="person">
                            <div class="avi">
                                <img src="http://robohash.travistx.me/{{player.name}}?size=75x75" />
                            </div>
                        </div>
                    </div>
                    <div class="admin-player-tools" ng-if="gameController.currentPlayer.is_admin">
                        <span ng-click="gameController.submitPlaying(player.name)" title="toggle playing"><i class="fa fa-arrow-up"></i></span>
                        <span ng-click="gameController.submitPromote(player.name)" title="promote">
                            <i class="fa" ng-class="{'fa-star': (player.is_admin), 'fa-star-o': (!player.is_admin)}"></i>
                        </span>
                    </div>
                    <div class="player-name" ng-class="{admin: (player.is_admin)}" ng-attr-title="{{player.is_admin ? 'admin' : ''}}">
                        {{player.name}}
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="gameController.currentPlayer.is_admin" class="admin-game-tools">
            <button class="btn" ng-click="gameController.submitReset()">Reset</button>
            <button class="btn" ng-click="gameController.submitReveal()">Reveal</button>
        </div>


        <div class="my-play-area">
            <div class="my-play-area-toolbar">
                <div><span ng-show="gameController.currentPlayer.is_player">Your Vote</span></div>
                <div>
                    <a ng-click="gameController.submitPlaying(gameController.currentPlayer.name)">
                        {{ gameController.currentPlayer.is_player? 'Playing' : 'Spectating'}}</a>
                </div>
            </div>
            <div class="my-vote-area" ng-show="gameController.currentPlayer.is_player">
                <div ng-repeat="vote in gameController.valid_votes" ng-click="gameController.submitVote(vote)" ng-class="{selected: (vote === gameController.currentVote)}">
                    <div class="number">{{vote}}</div>
                </div>
            </div>
        </div>
    </div>
</div>