html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "kontrapunktbold";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    user-select: none;
}

body {
    background: black;
    background-image: linear-gradient(to bottom right,#024,#402);
    color: #eee;
}

@font-face {
    font-family: 'kontrapunktbold';
    src: url('kontrapunkt/Kontrapunkt-Bold-webfont.eot');
    src: url('kontrapunkt/Kontrapunkt-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('kontrapunkt/Kontrapunkt-Bold-webfont.woff') format('woff'),
         url('kontrapunkt/Kontrapunkt-Bold-webfont.ttf') format('truetype'),
         url('kontrapunkt/Kontrapunkt-Bold-webfont.svg#kontrapunktbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

input, button {
    font-family: "kontrapunktbold";
}

input {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 1.75em;
    padding: .25em .5em .3125em;
    color: rgba(255, 255, 255, 0.3);
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
    margin-bottom: 10px;
}
input:focus {
    outline: none;
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
}

.btn {
    display: block;
    width: 100%;
    font-size: 1.75em;
    padding: .25em .5em .3125em;
    border-radius: .25em;
    background-color: hsl(173, 71%, 34%);
    border-color: hsl(173, 71%, 10%);
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn:focus, .btn:hover {
    outline: none;
    background-color: hsl(173, 71%, 50%);
    border-color: hsl(173, 71%, 10%);
    color: white;
}

a {
    color: hsl(173, 71%, 34%);
    cursor: pointer;
}

a:hover {
    color: hsl(173, 71%, 50%);
}

header {
    background-color: #111;
    color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.my-play-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #252526;
    color: #eee;
    z-index: 1;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.my-play-area-toolbar {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.my-vote-area {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

.my-vote-area > div {
    background-color: hsl(298, 71%, 34%);
    color: #eee;
    text-align: center;
    line-height: 100px;
    font-size: calc(1em + 2vw);
    border-radius: 5px;
    width: calc(100%/13 - 5px);
    transform: skew(-20deg);
    cursor: pointer;
}

.my-vote-area > div:hover {
    background-color: hsl(173, 71%, 24%);
}

.my-vote-area .selected {
    background-color: hsl(173, 71%, 34%);
}

.my-vote-area .number {
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
    transform: skew(20deg);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.admin-player-tools {
    background-color: white;
    color: black;
    margin: 5px;
    width: 100px;
    border-radius: 0 0 10px 10px;
    margin-top: -13px;
    padding-top: 9px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}

.admin-player-tools span {
    cursor: pointer;
}

.card {
    background-color: hsl(245, 7%, 45%);
    border-radius: 10px;
    color: #eee;
    margin: 5px;
    width: 100px;
    height: 118px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(255,255,255,0.2);
}

.card.voted {
    background-color: hsl(298, 71%, 34%);
}

.card.average {
    background-color: hsl(173, 71%, 34%);
}

.card.changed {
    border-color: #bb0000;
}

.card .previous-number {
    position: absolute;
    right: 5px;
    top: 5px;
}

.card .number {
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
}

.spectators-row {
    margin: 10px 5px;
}

.spectators-row .card {
    background-color: hsl(298, 71%, 20%);
    height: 70px;
}

.avi {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    text-align: center;
}

.avi img {
    width: 75px;
    height: 75px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.player-name {
    overflow: hidden;
    text-align: center;
    width: 100px;
    margin: 0 5px;
    font-size: 16px;
}

.average-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 5px;
    overflow: hidden;
    text-align: center;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
    font-size: 16px;
}

.fa-arrow-up {
    color: blue;
}

.fa-arrow-down {
    color: red;
}

.fa-star {
    color: #FFAA00;
}

.fa-star-o {
    color: #333;
}

.admin-game-tools {
    margin: 10px 5px;
}

.admin-game-tools .btn {
    display: inline;
    width: auto;
    font-size: 1em;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.role-decide-modal {
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.2);
    color: #eee;
    z-index: 1;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
}

#fireworks-canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}